#### IMPORTING DATA SET AND FINDING THE DATA DETAILS

In [1]:
import sklearn
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

In [2]:
# importing the data
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")

In [3]:
data_train.shape

(4209, 378)

In [4]:
data_test.shape

(4209, 377)

In [5]:
data_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [6]:
data_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [7]:
x_columns = [c for c in data_train.columns if 'X' in c]
print('Number of features: {}'.format(len(x_columns)))

Number of features: 376

In [8]:
print('Feature types:')
data_train[x_columns].dtypes.value_counts()

Feature types:

int64     368
object      8
dtype: int64

#### FINDING THE COUNT OF DIFFERENT FEATURES

In [9]:
counts = [[], [], []]
for columns in x_columns:
    typ = data_train[columns].dtype
    uniq = len(np.unique(data_train[columns]))
    if uniq == 1:
        counts[0].append(columns)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(columns)
    else:
        counts[2].append(columns)

In [10]:
print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(columns) for columns in counts]))
print('Constant features: ',counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features:  ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

#### DROPPING THE COLUMNS NOT REQUIRED FOR ANALYSIS

In [48]:
x_tr = data_train.drop(['ID','y'], axis = 1)
x_tr.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,k,v,at,a,d,u,j,o,0,0,...,0,0,1,0,0,0,0,0,0,0
1,k,t,av,e,d,y,l,o,0,0,...,1,0,0,0,0,0,0,0,0,0
2,az,w,n,c,d,x,j,x,0,0,...,0,0,0,0,0,0,1,0,0,0
3,az,t,n,f,d,x,l,e,0,0,...,0,0,0,0,0,0,0,0,0,0
4,az,v,n,f,d,h,d,n,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
y = data_train['y']
y.head()

0    130.81
1     88.53
2     76.26
3     80.62
4     78.02
Name: y, dtype: float64

### Q1. Removing Columns with zero Variance ie., with constant features columns

In [50]:
x_tr = x_tr.drop(['X11', 'X93', 'X107', 'X233', 'X235',
                         'X268', 'X289', 'X290', 'X293', 'X297', 
                         'X330', 'X347'], axis = 1)

In [51]:
x_tr.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,k,v,at,a,d,u,j,o,0,0,...,0,0,1,0,0,0,0,0,0,0
1,k,t,av,e,d,y,l,o,0,0,...,1,0,0,0,0,0,0,0,0,0
2,az,w,n,c,d,x,j,x,0,0,...,0,0,0,0,0,0,1,0,0,0
3,az,t,n,f,d,x,l,e,0,0,...,0,0,0,0,0,0,0,0,0,0
4,az,v,n,f,d,h,d,n,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
x_te = data_test.drop(['ID', 'X11', 'X93', 'X107', 'X233', 'X235',
                         'X268', 'X289', 'X290', 'X293', 'X297', 
                         'X330', 'X347'], axis = 1)

In [55]:
x_te.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,az,v,n,f,d,t,a,w,0,0,...,0,0,0,1,0,0,0,0,0,0
1,t,b,ai,a,d,b,g,y,0,0,...,0,0,1,0,0,0,0,0,0,0
2,az,v,as,f,d,a,j,j,0,0,...,0,0,0,1,0,0,0,0,0,0
3,az,l,n,f,d,z,l,n,0,0,...,0,0,0,1,0,0,0,0,0,0
4,w,s,as,c,d,y,i,m,0,0,...,1,0,0,0,0,0,0,0,0,0

### Q2. Checking for Null values and Unique values

In [15]:
def check_missing_values(data_train):
    if data_train.isnull().any().any():
        print("There are missing values in the data_train dataframe")
    else:
        print("There are no missing values in the data_train dataframe")
check_missing_values(data_train)

There are no missing values in the data_train dataframe

In [16]:
categorical_columns = ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']
#Print frequency of categories
for col in categorical_columns:
    print ('\nFrequency of Categories for varible %s'%col)
    print (data_train[col].value_counts())

Frequency of Categories for varible X0
z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
i      18
aq     18
am     18
u      17
aw     16
l      16
ad     14
b      11
k      11
au     11
as     10
r      10
bc      6
ao      4
c       3
q       2
aa      2
ac      1
g       1
ab      1
Name: X0, dtype: int64

Frequency of Categories for varible X1
aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
f      23
y      23
j      22
n      19
k      17
p       9
g       6
d       3
q       3
ab      3
Name: X1, dtype: int64

Frequency of Categories for varible X2
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
y       11
ap      11
x       10
aw       8
at       6
h        6
q        5
an       5
al       5
ah       4
av       4
p        4
au       3
ar       1
aa       1
j        1
l        1
am       1
o        1
c        1
af       1
Name: X2, dtype: int64

Frequency of Categories for varible X3
c    1942
f    1076
a     440
d     290
g     241
e     163
b      57
Name: X3, dtype: int64

Frequency of Categories for varible X4
d    4205
a       2
c       1
b       1
Name: X4, dtype: int64

Frequency of Categories for varible X5
v     231
w     231
q     220
r     215
d     214
s     214
n     212
m     208
p     208
i     207
ae    205
ag    204
ac    200
ab    197
l     195
af    188
ad    185
k     177
c     131
j     125
aa    112
ah     97
o      20
f       7
x       2
g       1
u       1
y       1
h       1
Name: X5, dtype: int64

Frequency of Categories for varible X6
g    1042
j    1039
d     625
i     488
l     478
a     206
h     190
k      43
c      38
b      28
f      20
e      12
Name: X6, dtype: int64

Frequency of Categories for varible X8
j    277
s    255
f    243
n    242
i    237
e    225
r    219
a    210
w    196
v    194
b    190
k    176
o    163
m    155
g    130
u    119
t    119
q    117
h    117
y    116
x    105
d    103
l    101
p    100
c    100
Name: X8, dtype: int64

In [17]:
def check_missing_values(data_test):
    if data_test.isnull().any().any():
        print("There are missing values in the data_test dataframe")
    else:
        print("There are no missing values in the data_test dataframe")
check_missing_values(data_test)

There are no missing values in the data_test dataframe

In [18]:
categorical_columns = ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']
#Print frequency of categories
for col in categorical_columns:
    print ('\nFrequency of Categories for varible %s'%col)
    print (data_test[col].value_counts())

Frequency of Categories for varible X0
ak    432
y     348
z     335
x     302
ay    299
t     293
o     246
f     213
w     198
j     171
n     167
aj    162
az    161
s     116
ap    108
al     88
h      64
d      61
e      48
v      40
ai     38
m      34
af     34
am     28
i      25
at     21
u      20
ba     19
a      18
b      13
k      12
ad     12
aw     11
aq     11
r      10
ax      8
l       6
as      6
bc      6
c       6
au      5
ao      5
g       3
ag      1
ae      1
an      1
av      1
p       1
bb      1
Name: X0, dtype: int64

Frequency of Categories for varible X1
aa    826
s     602
l     599
b     596
v     436
r     252
i     189
a     153
c     142
o      81
w      50
u      40
z      31
e      29
h      27
m      27
j      22
y      21
t      18
n      16
k      12
f      12
p      10
g       9
ab      5
q       3
d       1
Name: X1, dtype: int64

Frequency of Categories for varible X2
as    1658
ae     478
ai     462
m      348
ak     260
r      155
n      113
s      100
f       85
e       84
ay      78
aq      72
a       44
b       38
k       25
t       25
ag      23
ac      20
ao      19
i       15
z       12
ap      11
p       10
aw       9
d        6
h        6
g        5
au       5
q        5
ad       4
al       4
ab       4
af       4
at       3
ah       3
w        3
am       3
x        2
j        2
aj       1
u        1
y        1
ax       1
an       1
av       1
Name: X2, dtype: int64

Frequency of Categories for varible X3
c    1900
f    1083
a     476
d     274
g     272
e     158
b      46
Name: X3, dtype: int64

Frequency of Categories for varible X4
d    4203
b       4
c       1
a       1
Name: X4, dtype: int64

Frequency of Categories for varible X5
v     246
r     239
p     227
w     218
af    217
ad    213
ac    212
n     209
l     206
s     205
ag    201
q     197
m     197
ae    196
k     193
d     192
i     180
ab    179
j     137
c     121
aa    105
ah     80
o      16
g       8
f       6
h       2
x       2
b       1
a       1
z       1
t       1
y       1
Name: X5, dtype: int64

Frequency of Categories for varible X6
g    1073
j    1002
d     589
i     490
l     473
h     218
a     196
k      67
c      40
f      25
b      19
e      17
Name: X6, dtype: int64

Frequency of Categories for varible X8
e    274
j    256
s    244
f    241
n    236
i    234
r    228
a    202
w    192
v    174
b    172
o    169
m    162
k    154
u    144
g    137
h    128
t    117
q    114
x    110
d    108
y    106
p    106
c    101
l    100
Name: X8, dtype: int64

### Q3. Applying Label Encoder for both Train and Test Dataset

In [19]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [56]:
le = LabelEncoder()
x_tr['X0'] = le.fit_transform(x_tr['X0'])
x_tr['X1'] = le.fit_transform(x_tr['X1'])
x_tr['X2'] = le.fit_transform(x_tr['X2'])
x_tr['X3'] = le.fit_transform(x_tr['X3'])
x_tr['X4'] = le.fit_transform(x_tr['X4'])
x_tr['X5'] = le.fit_transform(x_tr['X5'])
x_tr['X6'] = le.fit_transform(x_tr['X6'])
x_tr['X8'] = le.fit_transform(x_tr['X8'])

In [58]:
x_tr.dtypes.head(10)

X0     int32
X1     int32
X2     int32
X3     int32
X4     int32
X5     int32
X6     int32
X8     int32
X10    int64
X12    int64
dtype: object

In [59]:
x_tr.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,32,23,17,0,3,24,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32,21,19,4,3,28,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,20,24,34,2,3,27,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0
3,20,21,34,5,3,27,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,23,34,5,3,12,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
le = LabelEncoder()
x_te['X0'] = le.fit_transform(x_te['X0'])
x_te['X1'] = le.fit_transform(x_te['X1'])
x_te['X2'] = le.fit_transform(x_te['X2'])
x_te['X3'] = le.fit_transform(x_te['X3'])
x_te['X4'] = le.fit_transform(x_te['X4'])
x_te['X5'] = le.fit_transform(x_te['X5'])
x_te['X6'] = le.fit_transform(x_te['X6'])
x_te['X8'] = le.fit_transform(x_te['X8'])

In [61]:
x_te.dtypes.head(10)

X0     int32
X1     int32
X2     int32
X3     int32
X4     int32
X5     int32
X6     int32
X8     int32
X10    int64
X12    int64
dtype: object

In [62]:
x_te.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

### Q4.  Performing Dimensionality Reduction using PCA

#### Dropping the categorical columns

In [100]:
pca_x_tr = x_tr.drop(['X0', 'X1', 'X2', 'X3', 'X4','X5', 'X6', 'X8'], axis = 1)
                         
pca_x_tr.shape

(4209, 356)

In [119]:
pca_x_te = x_te.drop(['X0', 'X1', 'X2', 'X3', 'X4','X5', 'X6', 'X8'], axis = 1)
                         
pca_x_te.shape

(4209, 356)

In [101]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(pca_x_tr, y, test_size=0.2, random_state=1)
print(x_train.shape)
print(x_val.shape)
print(y_train.shape)
print(y_val.shape)

(3367, 356)
(842, 356)
(3367,)
(842,)

In [109]:
from sklearn.decomposition import PCA
sklearn_pca = PCA(n_components= 0.95)
sklearn_pca.fit(x_train)

PCA(n_components=0.95)

In [121]:
pca.n_components_

12

In [122]:
pca.explained_variance_ratio_

array([0.13642787, 0.09702585, 0.09065984, 0.07072106, 0.06016394,
       0.04951177, 0.04145982, 0.03467996, 0.02906683, 0.02591684,
       0.02549303, 0.02083841])

sklearn_pca.explained_variance_ratio_

In [120]:
x_train_transformed = sklearn_pca.transform(x_train)

print(x_train.shape)
print(x_train_transformed.shape)
print(x_val.shape)


x_val_transformed =sklearn_pca.transform(x_val)
print(x_val_transformed.shape)

x_test_transformed =sklearn_pca.transform(pca_x_te)
print(pca_x_te.shape)
print(x_test_transformed.shape)

(3367, 356)
(3367, 71)
(842, 356)
(842, 71)
(4209, 356)
(4209, 71)

# Hence we reduced the dimensions of 
### Training data from 356 to 71 components 
### Validation data from 356 to 71 components for 95% explained variance

### Q5. Predicting the test_df values using XGBoost

In [31]:
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [126]:
model = xgb.XGBRegressor(objective = 'reg:linear', learning_rate = 0.1)
model.fit(x_train_transformed,y_train)

[11:54:05] WARNING: d:\bld\xgboost-split_1619725139497\work\src\objective\regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=2, num_parallel_tree=1,
             objective='reg:linear', random_state=0, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [131]:
pred_y_val = model.predict(x_val_transformed)
print(pred_y_val)

[ 78.03309  113.05126  109.71403  101.68544   78.215294  93.654884
  90.83585   93.17285   91.546005  92.464096  80.143265  91.84404
 101.107605  93.66145   91.33606   94.66493  110.263    100.276505
 103.33485  109.81357  112.06824  103.780754  97.823     94.36754
 103.88336  116.18018   97.03719  116.87933   97.38296   92.71837
 114.81182  116.74172   95.08109  111.943825  96.37832   91.115135
  93.316574  78.66856   95.91227  112.433685 117.06427  109.24644
 109.976166  92.71908   94.66493  104.967224  94.10756  108.74544
  98.101326 109.5145    94.82296  111.02166   99.27299   96.382935
  95.838844 103.60258   91.115616  94.14897  100.831535  97.823
  93.94997   95.51436   99.965996 113.7451    95.03686   94.71697
  95.26091  113.827034  91.48711   91.33606  112.801     95.422134
  93.08083   95.03507  111.12442   94.59778  136.37294  104.967224
 113.42054   90.72338   91.75875   90.322945  95.79287   97.60802
  94.0827    94.599396  91.19249  108.59565  110.03333  112.21324
 110.263    111.81049  110.7377    93.66145   98.54822  111.12442
  95.89975   95.613785 104.4617    90.44341  111.13628  103.28114
  94.66493  104.0395    93.881645  96.19267   97.588806  91.3384
 108.587975  94.88359   94.82296  109.66964  113.827034 113.639
  94.769066 103.717606  93.860405  97.08989   92.24704   78.25832
  90.52774   94.616714 108.533165  91.67421  105.057495 107.18121
 110.17411   93.143684 109.04899  104.97227   96.87157   93.74308
  97.823    111.93051   93.321045 110.97311   94.81735   94.670296
  92.325134 104.90793  105.118805 101.3073    95.03686  104.90793
  93.781525  93.894745  93.65384  105.41128  109.6404   115.7902
  94.81704   92.440445 111.4181   115.36406   94.86118   93.195335
  94.66493  112.21324  107.06934  104.40137   78.58892   92.736565
  93.36347  108.77991   93.69245   92.31829  102.035286 107.93409
  93.14429  108.963295 111.50221   96.36506   94.90334   96.78568
 100.98068   95.29753   98.993576  93.82275   92.56033  119.48124
  96.01305   78.087685 102.035286  93.12991  111.540115 108.221405
  92.89939   92.38906   92.938484  95.379    103.29606   96.08515
 111.98588  110.137726  94.738464  93.41054  100.9638    78.318535
  92.73096   91.02018  106.74478  109.56173  104.05579  101.97172
 114.72637  119.35813  110.74475   88.784134 110.89171   99.21246
  94.66493  110.17411   92.615814 116.640785  96.08515  107.71525
 105.07521  111.42372  100.19931   94.89851  112.00102  108.82205
 101.51556   96.43113  105.8554    93.721245 104.6293   116.74172
  96.26023  112.48612  108.659904  92.8135   116.6303   110.05768
 108.59565   81.78261   94.107574 112.66845   99.75228  102.16323
 101.393234 103.204025  91.22937  100.697876 109.24491  112.21324
  93.51092   93.608925 102.16323  113.42054  112.48612  111.45928
 112.35785   95.49046   98.048035  93.64546   92.50932   78.25085
  91.33606   93.83087   99.040215 111.12442  105.90784  108.657234
  97.39274   94.66493   93.09553   92.55523   93.75726   98.569885
  78.58892   99.965996  96.2127    92.68806  110.13112   92.11211
  98.30062  117.76005   92.24704   98.31243  120.227516 104.967224
 112.48612  109.933784  90.73397   91.05766   92.30912  111.67861
 104.967224  95.21383   96.27377   98.048035  95.379     93.504745
  97.32132  125.13133   94.46361  109.31981  104.070724 109.81357
 101.33115   78.087685 110.539116  93.30142   91.38759   93.17285
  94.738464  99.20614   95.02202   92.69571   93.41496   94.28566
  92.93377   98.25365  116.675934 106.17984  112.830315 107.59105
 113.0851    93.268616 116.675934 112.24056  113.39166  102.16323
  90.44341  110.51528  102.987206 104.88344   94.66493  104.8867
  78.087685 109.74705   94.34597   94.738464  98.048035  90.891594
 100.51721   95.03686   95.319885  91.25459  103.46027  108.59565
  78.394516 110.17411   93.14184   96.19267   92.24704  112.28028
  92.92168  102.66959  102.31223   99.65608  102.4975    95.13741
  92.961945  94.66493  102.900665  92.24704   78.186134  92.00512
  92.7088    99.904625  97.52494   94.000404  93.03091   90.56795
 109.823784  91.19249   78.394516  92.865166 113.14472  105.50493
  93.11777   93.12301   92.20412  108.59565  107.15532   98.35964
 109.09476   93.96545  107.06934   91.115616 102.26342  108.435356
  95.379    106.892204 111.1585   114.90778   90.98868  102.26342
 108.59565   94.92121   91.80515  101.306786 112.48612   91.70307
 115.36406  109.17805  109.44719   92.649765 107.21508  107.51701
  94.738464 105.3522   109.248604 111.039406  97.5292   104.58189
 102.289825  92.191956  91.65172  109.89114   96.08515   95.34411
  91.84404   92.92168  110.17411   96.08515   92.865166 113.15718
  98.68806   88.5858   113.87159   95.4351   115.5367    96.543915
 108.951195 104.90839  115.603294 109.44413   97.32132   92.464096
  93.84153  105.2366   111.60796  123.16241  101.10913  113.42054
 107.028496  93.4095   109.5145   113.827034  95.520515 111.503075
  95.49631   91.90959   97.626625  96.9105    94.92121  103.706505
 116.74172   94.789444  90.26921  114.63824   95.4832   109.4461
  97.23875  115.1081   103.8628    94.738464  93.65785  107.28099
 111.12791   94.162186 111.13722   92.392784 113.05247  109.715195
  93.84153  101.72961   94.92121   93.09553   91.54209   78.087685
  92.50932  111.08514   91.25019   90.964676  98.048035 107.87566
  95.08109   80.046974  93.085724 105.46403  101.50806   93.93609
 110.17411   94.20718  111.61188  115.1081    91.624626 113.72878
 103.7904    95.35544   94.181435  96.691    109.45136  109.74331
 105.4606    92.54357  110.80869  100.64169  113.586235  96.01404
 105.606384 119.039276  93.79612   94.68438   94.80719  105.05242
 112.355484  92.96576   92.27927  110.44625  112.17814   94.92121
 108.564445  81.67382  102.30103  114.933945  92.83259  111.60796
  94.694145  94.83218  104.272095  92.28031  111.12442  112.95705
 111.07621  105.12176   96.55409   99.075005  92.865166 106.52292
 105.57055   92.55247   90.45097  111.93051   93.337265 104.78223
  91.73006  115.36406  100.270515 109.271484 117.06427   93.28794
 116.74172   78.93667   79.14523  116.169586 107.070274 107.308266
  93.58438  112.87464  101.951065  95.35931   96.09251  103.77275
 104.58189  111.18739   98.54822  107.9971    91.84404   91.75875
  94.32166   93.83823  108.15376   94.66493   98.13834  116.675934
  92.93956   97.823     97.35245   76.912025  91.05766  108.59565
  90.52702  112.48612  109.960754 115.2911   113.904366  92.43754
 101.6366    89.83766  102.202194  97.42234   96.08515   92.819534
  93.84281   92.620125 106.67576   90.99465   96.54072  105.057495
  95.716194 110.17411  109.29234  106.851006 101.759476  88.784134
  94.63423  110.227165  95.77013   92.70081   76.912025  94.66493
  99.94349  109.29427   78.97724   99.98832  113.062485  92.92168
  78.394516  97.16138  112.60627   95.41728  104.369644 109.3088
  81.2228    78.087685  79.21445   99.531105  98.192375 111.52625
 113.14472  108.43166   93.52949  103.06267  102.37794   91.6374
  93.84153  108.70469  106.78742   99.8454   105.07241  116.14343
 108.59565   93.27808  103.81147  109.40863   95.19602   93.27406
  92.200356  90.44341   92.30413   95.520515  96.458405  98.392204
 113.827034  90.84244  111.98645  104.333725 108.59565  112.66354
  92.079994  97.14149   92.919174 107.9328   110.17411  111.93051
 106.84635  104.967224  91.42385   99.0205   112.57506  112.123955
 102.02761  114.91887  104.40137   93.27925  111.934616 104.05579
 106.65646  110.17411  108.59565   99.42627  113.49063   83.03904
  94.228226  96.78288   92.07968   94.55958  105.07521  104.967224
  80.762184 116.74172  103.84297  110.263     96.571075  90.53134
  80.85445   78.4512    94.66493   94.616714  97.823    103.06267
 109.87546  109.960754  92.19866   97.823     96.216484  95.52361
 111.6565   116.74172   93.34102   92.60915  116.1237   105.057495
  91.9192   109.81357   91.54164   77.234695  78.087685  78.2456
 111.756004 103.838615 114.53504   92.0152   116.18018  108.51761
 111.435     89.23177   92.0061   109.11932   95.03686   79.13961
 111.12442   92.451035  96.69928  106.838936  78.186134 109.04899
  96.707115  95.84461  116.039734 110.86735   91.21271  104.65704
  94.97707  109.6404   106.33436  115.758896  92.90098   94.23397
 102.08629  112.70972  109.64155  108.98117   93.337265 111.12934
 112.67395  113.76254  105.60784   97.823     91.768936  92.52937
  93.09553  113.98075  112.24085  112.21324   93.9349   106.11274
  90.44341  109.6404   102.46497  116.74172  109.259964 106.34805
  94.87016   96.15494   97.823     93.03091  104.40137  110.04614
  99.07121   94.67624  113.909386  95.4351    94.66493  102.49424
  95.06926   78.58892  112.16392  112.67931   94.32277  107.82979
 103.52814   95.4832    93.4815   112.13817  104.95785   93.14429
  95.07031   95.13878  111.42569  112.35063   94.789444  95.240204
  92.24704   93.50082   98.12284   99.247055  90.91384   96.31619
 112.051     90.58184  112.60459  102.16323  104.90793  110.17411
 101.33586   97.823     97.21699  105.28525  125.119675 111.93051
 112.48612   90.1478   105.12162   93.155624  78.97724   92.92168
 109.27614  109.4461    99.51386   94.92121  111.14104  101.68544
  95.56653   95.73185  103.96203  103.669426 115.1081    92.19716
  78.087685 110.87263   86.52503  102.59652   94.59412  114.38606
 104.20756   95.379   ]

### END OF THE PROJECT

##  THANK YOU Mr.MOHAMMED WAJAHAT and the Simplilearn team for the extraordinary guidance and support